{
  "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-typescript"],
  "plugins": [
    [
      "file-loader",
      {
        "name": "[name].[ext]",
        "extensions": ["png", "jpg", "jpeg", "gif", "svg"],
        "publicPath": "/",
        "outputPath": "/public",
        "context": "",
        "limit": 0
      }
    ],
    "@babel/plugin-syntax-jsx"
  ],
  "ignore": [
    "dist-*",
    "demo/*"
  ]
}
